In [169]:
import pandas as pd

In [170]:
df = pd.read_csv('csv_data.csv')

In [171]:
df

    Dato_1  Dato_2  Dato_3  Dato_4  Dato_5
0        5       1       1       2  0.0000
1       10       2       4       4  0.2244
2       12       3       9       6  0.4488
3       16       4      16       8  0.6732
4       99       5      25      10  0.8976
5       65      10      36      12  1.1220
6       30       9      49      14  1.3464
7       23       8      64      16  1.5708
8       14       7      81      19  1.7952
9       75       6     100      21  2.0196
10       9      11     101      23  2.2440
11      88      12     102      26  2.4684
12      39      13     103      29  2.6928
13      19      14     104      28  2.9172
14       4      15     105      61  3.1416
15      66      20     106      51  3.3660
16      89      19     107      50  3.5904
17      56      18     108      12  3.8148
18      24      17     109      15  4.0392
19      95      16     110       1  4.2636
20      19      15      90       2  4.4880
21      59      40      70       3  4.7124
22     100      45      50       4  4.9368
23       1      50      30       5  5.1612
24       0      35      10       6  5.3856
25       2      30       5       7  5.6100
26      13      25       3       8  5.8344
27      17      20       2       9  6.0588
28      50      15       1      10  6.2832

debe tener informaci√≥n de cantidad 
de columnas y filas, y los nombres de las columnas.

In [172]:
df.columns # Esto es un vector, puede ser de utilidad bro ;)

Index(['Dato_1', 'Dato_2', 'Dato_3', 'Dato_4', 'Dato_5'], dtype='object')

In [173]:
df.count()

Dato_1    29
Dato_2    29
Dato_3    29
Dato_4    29
Dato_5    29
dtype: int64

In [174]:
len(df)

29

Debe porder gestionar cualquier columna
o segmenteos de columnas, y cantidad de filas,

In [175]:
df_copy = df

In [176]:
id = 32
columna = 'Dato_3'
dato = 100

try:
    df_copy.loc[[id], [columna]] = dato
except KeyError:
    # En caso de que no exista la fila, creo una nueva
    df_copy = pd.concat([df_copy, 
                         pd.DataFrame({columna:[dato]})], 
                         ignore_index=True)
    
    # Esto lo hago por facilidad, es mas facil respetar la primary key, que ignorarla
    print(f'ADVERTENCIA: Se ha creado una nueva fila con el id {len(df_copy) - 1}.')

df_copy

ADVERTENCIA: Se ha creado una nueva fila con el id 29.

    Dato_1  Dato_2  Dato_3  Dato_4  Dato_5
0      5.0     1.0       1     2.0  0.0000
1     10.0     2.0       4     4.0  0.2244
2     12.0     3.0       9     6.0  0.4488
3     16.0     4.0      16     8.0  0.6732
4     99.0     5.0      25    10.0  0.8976
5     65.0    10.0      36    12.0  1.1220
6     30.0     9.0      49    14.0  1.3464
7     23.0     8.0      64    16.0  1.5708
8     14.0     7.0      81    19.0  1.7952
9     75.0     6.0     100    21.0  2.0196
10     9.0    11.0     101    23.0  2.2440
11    88.0    12.0     102    26.0  2.4684
12    39.0    13.0     103    29.0  2.6928
13    19.0    14.0     104    28.0  2.9172
14     4.0    15.0     105    61.0  3.1416
15    66.0    20.0     106    51.0  3.3660
16    89.0    19.0     107    50.0  3.5904
17    56.0    18.0     108    12.0  3.8148
18    24.0    17.0     109    15.0  4.0392
19    95.0    16.0     110     1.0  4.2636
20    19.0    15.0      90     2.0  4.4880
21    59.0    40.0      70     3.0  4.7124
22   100.0    45.0      50     4.0  4.9368
23     1.0    50.0      30     5.0  5.1612
24     0.0    35.0      10     6.0  5.3856
25     2.0    30.0       5     7.0  5.6100
26    13.0    25.0       3     8.0  5.8344
27    17.0    20.0       2     9.0  6.0588
28    50.0    15.0       1    10.0  6.2832
29     NaN     NaN     100     NaN     NaN

debe permitir, multplicar por 0.8 y sumarle 
1.1, usando apply o applymap a las columnas que ingrese el usuario.

In [177]:
df_copy = df
df_copy['Dato_1'] = df['Dato_1'].apply(lambda x: x*0.8)
df_copy

    Dato_1  Dato_2  Dato_3  Dato_4  Dato_5
0      4.0       1       1       2  0.0000
1      8.0       2       4       4  0.2244
2      9.6       3       9       6  0.4488
3     12.8       4      16       8  0.6732
4     79.2       5      25      10  0.8976
5     52.0      10      36      12  1.1220
6     24.0       9      49      14  1.3464
7     18.4       8      64      16  1.5708
8     11.2       7      81      19  1.7952
9     60.0       6     100      21  2.0196
10     7.2      11     101      23  2.2440
11    70.4      12     102      26  2.4684
12    31.2      13     103      29  2.6928
13    15.2      14     104      28  2.9172
14     3.2      15     105      61  3.1416
15    52.8      20     106      51  3.3660
16    71.2      19     107      50  3.5904
17    44.8      18     108      12  3.8148
18    19.2      17     109      15  4.0392
19    76.0      16     110       1  4.2636
20    15.2      15      90       2  4.4880
21    47.2      40      70       3  4.7124
22    80.0      45      50       4  4.9368
23     0.8      50      30       5  5.1612
24     0.0      35      10       6  5.3856
25     1.6      30       5       7  5.6100
26    10.4      25       3       8  5.8344
27    13.6      20       2       9  6.0588
28    40.0      15       1      10  6.2832

Por otro lado dividir 
los datos en dos grupos(GrupoA y GrupoB) y hacerle desviaci√≥n estandar a lo largo de la 
columnas que el usuario elija, mostrar ambos resultados

In [178]:
df_copy = df
df_copy['Dato_1'] = df['Dato_1'].apply(lambda x: x+1.1)
df_copy

    Dato_1  Dato_2  Dato_3  Dato_4  Dato_5
0      5.1       1       1       2  0.0000
1      9.1       2       4       4  0.2244
2     10.7       3       9       6  0.4488
3     13.9       4      16       8  0.6732
4     80.3       5      25      10  0.8976
5     53.1      10      36      12  1.1220
6     25.1       9      49      14  1.3464
7     19.5       8      64      16  1.5708
8     12.3       7      81      19  1.7952
9     61.1       6     100      21  2.0196
10     8.3      11     101      23  2.2440
11    71.5      12     102      26  2.4684
12    32.3      13     103      29  2.6928
13    16.3      14     104      28  2.9172
14     4.3      15     105      61  3.1416
15    53.9      20     106      51  3.3660
16    72.3      19     107      50  3.5904
17    45.9      18     108      12  3.8148
18    20.3      17     109      15  4.0392
19    77.1      16     110       1  4.2636
20    16.3      15      90       2  4.4880
21    48.3      40      70       3  4.7124
22    81.1      45      50       4  4.9368
23     1.9      50      30       5  5.1612
24     1.1      35      10       6  5.3856
25     2.7      30       5       7  5.6100
26    11.5      25       3       8  5.8344
27    14.7      20       2       9  6.0588
28    41.1      15       1      10  6.2832

In [179]:
df_A = df[:len(df)//2]
df_A

    Dato_1  Dato_2  Dato_3  Dato_4  Dato_5
0      5.1       1       1       2  0.0000
1      9.1       2       4       4  0.2244
2     10.7       3       9       6  0.4488
3     13.9       4      16       8  0.6732
4     80.3       5      25      10  0.8976
5     53.1      10      36      12  1.1220
6     25.1       9      49      14  1.3464
7     19.5       8      64      16  1.5708
8     12.3       7      81      19  1.7952
9     61.1       6     100      21  2.0196
10     8.3      11     101      23  2.2440
11    71.5      12     102      26  2.4684
12    32.3      13     103      29  2.6928
13    16.3      14     104      28  2.9172

In [180]:
df_B = df[len(df)//2:]
df_B

    Dato_1  Dato_2  Dato_3  Dato_4  Dato_5
14     4.3      15     105      61  3.1416
15    53.9      20     106      51  3.3660
16    72.3      19     107      50  3.5904
17    45.9      18     108      12  3.8148
18    20.3      17     109      15  4.0392
19    77.1      16     110       1  4.2636
20    16.3      15      90       2  4.4880
21    48.3      40      70       3  4.7124
22    81.1      45      50       4  4.9368
23     1.9      50      30       5  5.1612
24     1.1      35      10       6  5.3856
25     2.7      30       5       7  5.6100
26    11.5      25       3       8  5.8344
27    14.7      20       2       9  6.0588
28    41.1      15       1      10  6.2832

In [181]:
print(df_A['Dato_1'].std())
print(df_B['Dato_1'].std()) # Deviaci√≥n estandar
df_B['Dato_1']

25.649951267010238
28.87081241537566

14     4.3
15    53.9
16    72.3
17    45.9
18    20.3
19    77.1
20    16.3
21    48.3
22    81.1
23     1.9
24     1.1
25     2.7
26    11.5
27    14.7
28    41.1
Name: Dato_1, dtype: float64